#####################################################################
# 	Print Start
#####################################################################
[gcode_macro PRINT_START]
gcode:
  {% set target_bed      = params.BED|default(60)|int %}
  {% set target_extruder = params.EXTRUDER|default(200)|int %}
  {% set soak            = params.SOAK|default(-1)|int %}     ; minutter; -1 = auto fra bed-temp
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  ; Auto soak-tid hvis sliceren ikke sender SOAK
  {% if soak < 0 %}
    {% if   target_bed > 100 %}{% set soak = 12 %}
    {% elif target_bed >  80 %}{% set soak = 8  %}
    {% else %}                 {% set soak = 0  %}
    {% endif %}
  {% endif %}

  ; Homing
  _STATUS_HOMING
  G90
  G28
  SET_GCODE_OFFSET Z=0                            ; nullstill babystep fra forrige print
  BED_MESH_CLEAR

  ; Bed-varming
  {% if target_bed > 80 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c (ABS/ASA)"
    _STATUS_HEATING
    M106 S255                                     ; part-fan sirkulerer kammerluft under soak
    G1 X{x_wait} Y{y_wait} Z15 F9000
    M190 S{target_bed}
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c (PLA/PETG)"
    _STATUS_HEATING
    G1 X{x_wait} Y{y_wait} Z15 F9000
    M190 S{target_bed}
  {% endif %}

  ; Heat-soak med nedtelling (0 min for PLA/PETG som default)
  {% for i in range(soak, 0, -1) %}
    SET_DISPLAY_TEXT MSG="Heat-soak: {i} min"
    G4 P60000
  {% endfor %}
  M107                                            ; part-fan av foer kalibrering

  ; Nozzle til 150c for korrekt Z-home (TAP)
  SET_DISPLAY_TEXT MSG="Hotend: 150c"
  M109 S150

  ; Rens nozzle foer kalibrering
  SET_DISPLAY_TEXT MSG="Renser nozzle"
  CLEAN_NOZZLE

  ; QGL
  SET_DISPLAY_TEXT MSG="QGL"
  _STATUS_LEVELING
  QUAD_GANTRY_LEVEL
  G28 Z
  CLEAN_NOZZLE

  ; Adaptivt bed mesh via KAMP
  SET_DISPLAY_TEXT MSG="Bed mesh"
  _STATUS_MESHING
  BED_MESH_CALIBRATE

  ; Parker naer print-omraadet mens nozzle varmes til print-temp
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"
  _STATUS_HEATING
  SMART_PARK
  M109 S{target_extruder}

  ; KAMP purge og start print
  SET_DISPLAY_TEXT MSG="Printer goes brr"
  _STATUS_PRINTING
  LINE_PURGE

#####################################################################
# 	Print End
#####################################################################
[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set z_safe = [th.position.z + 10, th.axis_maximum.z]|min %}   ; loeft 10mm, aldri over Z-max
    {% set x_park = th.axis_maximum.x - 20 %}
    {% set y_park = th.axis_maximum.y - 20 %}

    M400                             ; vent til bevegelseskoe er tom
    G92 E0                           ; reset extruder
    G1 E-5.0 F3600                   ; retrakt filament

    M140 S0                          ; skru av bed
    M104 S0                          ; skru av extruder
    M107                             ; skru av kjoelevifte

    G90                              ; absolutt posisjonering
    G1 Z{z_safe} F3000               ; trygt Z-loeft, klart over printen
    G1 X{x_park} Y{y_park} F9000     ; park bakre hoeyre - mot homing-siden, med tilloep til neste home

    BED_MESH_CLEAR                   ; nullstill bed mesh
    _STATUS_READY                    ; Stealthburner: klar-modus
    M84                              ; skru av motorer

#####################################################################
# 	G32
#####################################################################
[gcode_macro G32]
gcode:
    _STATUS_LEVELING
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28    
    G0 X175 Y175 Z30 F3600
    _STATUS_READY

#####################################################################
# 	Nozzle clean
#####################################################################
[gcode_macro CLEAN_NOZZLE]
gcode:
    {% set brush_x = 280 %}           ; ← Juster til børstens X-posisjon
    {% set brush_y = 349 %}           ; ← Juster til børstens Y-posisjon
    {% set brush_z = 3 %}             ; ← Høyde over børsten (start litt høyt)
    {% set wipes = 5 %}               ; Antall frem/tilbake-bevegelser

    _STATUS_CLEANING
    G90                               ; Absolut posisjonering
    G1 Z10 F3000                      ; Løft nozzle før forflytning
    G1 X{brush_x} Y{brush_y} F10000   ; Flytt til børsten

    G1 Z{brush_z} F1000               ; Senk ned til børsten

    {% for i in range(wipes) %}
        G1 X{brush_x + 30} F8000      ; Børst frem
        G1 X{brush_x} F8000           ; Børst tilbake
    {% endfor %}

    G1 Z10 F3000                      ; Løft opp igjen
    _STATUS_READY

#####################################################################
# 	Stealtburner LED Macros
#####################################################################
# The following status macros are available
#
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#
# With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF